<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>SocialLink - Feeds</title>
	<link href="main.css" type="text/css" rel="stylesheet" />
<!-- HTML5 Shim (aka HTML5 Shiv) -->
<!--[if lt IE 9]>
<script src=" http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
<![endif]--> 
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body onLoad="MM_preloadImages('images/icon/F2.png','images/icon/S2.png','images/icon/FB2.png','images/icon/LO2.png')">

<div class="container">  

<table id="facebook" width="100%" border="0">
  <tr>
    <td><img src="images/facebook.png" width="20%" height="auto" alt=""/></td>
    <td class="center"><p>Facebook - <%=firstName%> <%=lastName%></p></td>
  </tr>
</table>

<table id="twitter" width="100%" border="0">
  <tr>
    <td><img src="images/twitter.png" width="20%" height="auto" alt=""/></td>
    <td><p>Twitter</p></td>
  </tr>
</table>

                   
<div id="main">
&nbsp;<br />                     
&nbsp;<br />                     

<div class="news">
&nbsp;<br />    
&nbsp;<br />

        <h2 id="home2">Your Facebook feed will appear here.  We are currently waiting on app permissions to be approved by Facebook.</h2>
        <div class="comments">
        <img class="align-left" src="images/jessy.jpg" width="50" height="70" alt="Jessy photo"/> 
         <h3>Jessy</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
    <div class="comments">
      <img class="align-left" src="images/rick.jpg" width="50" height="70" alt="Rick photo"/> 
      <h3>Rick</h3>
        <p>Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat. Nullam rhoncus felis id lorem molestie ornare. </p></div>
      
        <img src="images/divider.gif" width="280" height="40" alt=""/>
    
        
          <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>

          <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
                  <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
                  <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
                  <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>

    
    <br/>
    &nbsp;
    
    </div>
  
<br style="clear:left" />                                            
</div> 

<p>&nbsp;</p>


<div id="maintwo">
&nbsp;<br />           

<div class="news">
&nbsp;<br />    
   		&nbsp;<br />

        <h2 id="home2">Your Twitter feed will appear here.</h2>
        
        <div class="comments">
        <img class="align-left" src="images/jessy.jpg" width="50" height="70" alt="Jessy photo"/> 
         <h3>Jessy</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
    <div class="comments">
      <img class="align-left" src="images/rick.jpg" width="50" height="70" alt="Rick photo"/> 
      <h3>Rick</h3>
        <p>Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat. Nullam rhoncus felis id lorem molestie ornare. </p></div>
      
        <img src="images/divider.gif" width="280" height="40" alt=""/>
    
        
          <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>

          <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
                  <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
                  <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>
        
                  <div class="comments">
        <img class="align-left" src="images/angy.jpg" width="50" height="70" alt="Angy photo"/>
        <h3>Angy</h3>
        <p>Integer congue sodales ipsum et interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed sollicitudin est. Nulla varius nisl finibus vulputate suscipit. Nullam a leo varius, sollicitudin mi aliquet, viverra elit. Nulla a eleifend augue, vel posuere erat.</p></div>
    
        <img src="images/divider.gif" width="280" height="40" alt=""/>

    
    <br/>
    &nbsp;
    
    </div>
                                            
</div> 

</div>

<!--<footer>
&nbsp;
<p>&copy; All rights reserved. Web site designed by Azadeh Safaie.</p>
&nbsp;
</footer>
          -->
          
<nav>

<ul>

<li>
<a href="/accounts" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('account','','images/icon/LI2.png',1)"><img src="images/icon/LI1.png" alt="account" width="40%" height="40%" id="account"></br><span>Account</span></a>
</li>

<li class="mainbutton">
 <a href="/feeds" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('feeds','','images/icon/F2.png',1)"><img src="images/icon/F1.png" alt="feeds" width="40%" height="40%" id="feeds"></br><span>Feeds</span></a>
  </li>

<li>
  <a href="/settings" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('setting','','images/icon/S2.png',1)"><img src="images/icon/S1.png" alt="setting" width="40%" height="40%" id="setting"></br><span>Settings</span></a>
</li>

<li>
  <a href="/feedback" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('feedback','','images/icon/FB2.png',1)"><img src="images/icon/FB1.png" alt="feedback" width="40%" height="40%" id="feedback"></br><span>Feedback</span></a>
</li>

<li>
  <a href="/logout" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('logout','','images/icon/LO2.png',1)"><img src="images/icon/LO1.png" alt="logout" width="40%" height="40%" id="logout"></br><span>Logout</span></a>
</li>

</ul>

</nav>

<header>
  <h1>SocialLink</h1>
</header>
                             
</body>
</html>


