<html>
<head>
<meta charset="utf-8">
<title>SocialLink - Home</title>
<link href="/main.css" type="text/css" rel="stylesheet" />


</head>

<body>
<p><span id="indexhome"><a href="/">Home</a></span> <span id="index"><a href="/login">Log In</a> &nbsp; &nbsp; <a href="/newuser">Sign Up</a></span></p>
<h3 class="center"><%=success%></h3>
<img src="images/Build-Your-Presence-on-Social-Media.jpg" width="100%" height="auto" alt=""/>
<h3 class="center"><%=info%></h3>
<p class="center" style="color:rgba(239,64,35,0.93); font-weight:bold; font-size:150%; ">The easiest way to link all your social media accounts together!</p>

<div align="center">
  <table border="0" >
    <tbody>
      <tr>
        <td><img src="images/icon/people.png" width="30%" height="auto" alt=""/>
          <p><b>Connect Your Social Network Accounts</b></p>
        <p>Sed tempus, ipsum ac pellentesque euismod, diam diam volutpat nisi, vitae fringilla metus nibh vel est.</p></td>
        <td><img src="images/icon/time.png" width="30%" height="auto" alt=""/>
          <p><b>Save Time</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae euismod leo.</p></td>
        <td><img src="images/icon/world.png" width="30%" height="auto" alt=""/>
          <p><b>Everything At A Glance</b></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae euismod leo.</p></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
