<html>
<head>
<meta charset="utf-8">
<title>SocialLink - Sign Up</title>
<link href="main.css" type="text/css" rel="stylesheet" />

</head>

<body>
<p><span id="indexhome"><a href="/">Home</a></span> <span id="index"><a href="/login">Log In</a> &nbsp; &nbsp; <a href="/newuser">sign up</a></span></p>

<img src="images/Build-Your-Presence-on-Social-Media.jpg" width="100%" height="auto" alt=""/>

<p class="center" style="color:rgba(239,64,35,0.93); font-weight:bold; font-size:150%; ">Signup</p>
<div class="center">
    <%= error %>
    <h1>Create New User</h1>
    <form action="/newuser" method="POST">
        <p>
            <label for="username">Username:</label>
            <input type="text" name = "username" />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name = "password" />
        </p>
        <p>
            <label for="password2">Verify Password:</label>
            <input type="password" name="password2"/>
        </p>
        <input type="submit" />
    </form>  
</div>



</body>
</html>
