<html>
    <head>
        
    </head>
    <body>
        <%= error %>
        <h1>Create New User</h1>
        <form action="/newuser" method="POST">
        <p>
            <label for="username">Username:</label>
            <input type="text" name = "username" />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name = "password" />
        </p>
        <p>
            <label for="password2">Verify Password:</label>
            <input type="password" name="password2"/>
        </p>
        <input type="submit" />
    </form>        
    </body>
</html>